<a href="https://www.bigdatauniversity.com"><img src="https://ibm.box.com/shared/static/cw2c7r3o20w9zn8gkecaeyjhgw3xdgbj.png" width="400" align="center"></a>

<h1 align="center"><font size="5">Applied Data Science Capstone</font></h1>

<h2 align="center"><font size="3">Part 1 of the Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto</font></h2>

## 0. Importing Dependencies
##### Before we get the data and start exploring it, let's download all the necessary libraries that we will need.

In [1]:
# Importing Pandas
import pandas as pd

------------------------
## 1. Creating the Dataframe
##### We will use the read_html function from the pandas library to import the table of all Toronto postal codes from the wikipedia source table. The used URL lists all postacl codes in Canada starting with the letter 'M', which are all located in Toronto.

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M' # Wikipedia source table of all postal codes in Canada starting with the letter 'M', which means they reside in Toronto

# Import the table
read_table = pd.read_html(url,header=[0])
df = read_table[0]

# Show the resulting table
df.head(10)

  Postal Code          District                                Neighbourhood
0         M1A      Not assigned                                 Not assigned
1         M2A      Not assigned                                 Not assigned
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
7         M8A      Not assigned                                 Not assigned
8         M9A         Etobicoke      Islington Avenue, Humber Valley Village
9         M1B       Scarborough                               Malvern, Rouge

##### Fulfilling Requirement 1: The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [20]:
# We need to rename all columns a bit
df = df.rename(index=str, columns={'Postal Code':'PostalCode','District':'Borough','Neighbourhood':'Neighborhood'})

# Show the resulting table
df.head(10)

  PostalCode      Borough                                     Neighborhood
0        M1B  Scarborough                                   Malvern, Rouge
1        M1C  Scarborough           Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough                Guildwood, Morningside, West Hill
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      Kennedy Park, Ionview, East Birchmount Park
7        M1L  Scarborough                  Golden Mile, Clairlea, Oakridge
8        M1M  Scarborough  Cliffside, Cliffcrest, Scarborough Village West
9        M1N  Scarborough                      Birch Cliff, Cliffside West

##### Fulfilling Requirement 2: Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [4]:
# Reassign the dataframe as the dataframe without the rows containing an 'Not assigned'
df = df[df.Borough !='Not assigned']
df.reset_index(drop=True, inplace=True)

# Show the resulting table
df.head(10)

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
5        M9A         Etobicoke      Islington Avenue, Humber Valley Village
6        M1B       Scarborough                               Malvern, Rouge
7        M3B        North York                                    Don Mills
8        M4B         East York              Parkview Hill, Woodbine Gardens
9        M5B  Downtown Toronto                     Garden District, Ryerson

##### Fulfilling Requirement 3: More than one neighborhood can exist in one postal code area, these two rows will be combined into one row with the neighborhoods separated with a comma.

In [23]:
# This table should already fulfill the requirement, seeing as the wikipedia table has been adapted to this requirement. We will make sure anyway.
df = df.groupby('PostalCode', as_index=False).agg(lambda x: ','.join( set(x.dropna())))

# Show the resulting table
df.head(10)

  PostalCode      Borough                                     Neighborhood
0        M1B  Scarborough                                   Malvern, Rouge
1        M1C  Scarborough           Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough                Guildwood, Morningside, West Hill
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      Kennedy Park, Ionview, East Birchmount Park
7        M1L  Scarborough                  Golden Mile, Clairlea, Oakridge
8        M1M  Scarborough  Cliffside, Cliffcrest, Scarborough Village West
9        M1N  Scarborough                      Birch Cliff, Cliffside West

##### Fulfilling Requirement 4: If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [17]:
# The following command lets us see that there are no values in the neighborhood column with the value 'Not assigned'
df.loc[df['Neighborhood'] == 'Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [18]:
# We will make sure to eliminate them anyway
df.loc[df['Neighborhood'] == 'Not assigned','Neighborhood'] = df['Borough']

# Show the resulting table
df.head(10)

  PostalCode      Borough                                     Neighborhood
0        M1B  Scarborough                                   Malvern, Rouge
1        M1C  Scarborough           Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough                Guildwood, Morningside, West Hill
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      Kennedy Park, Ionview, East Birchmount Park
7        M1L  Scarborough                  Golden Mile, Clairlea, Oakridge
8        M1M  Scarborough  Cliffside, Cliffcrest, Scarborough Village West
9        M1N  Scarborough                      Birch Cliff, Cliffside West

##### Fulfilling Requirement 5: In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [19]:
df.shape

(103, 3)